Initial CoAP implementation

Implement CoAP protocol based on RFC 7252 and RFC 6690

- [x] Basic CoAP
  - [x] Open PR in coap-lite
  - [x] Add tests for `CoapRequest` and `CoapResponse`
- [x] Resource discovery on `well-known/core` endpoint
- [x] Observe RFC 7641 #16 
  - [x] Basic GET Observe
  - [x] ACK tracking 
  - [x] Write tests

Resources:
- [stm32f1xx-hal COAP](https://github.com/stm32-rs/stm32f1xx-hal/blob/master/examples/enc28j60-coap.rs.disabled)
- [coap-lite](https://github.com/martindisch/coap-lite)